//- doctype html 
//- html 
//-     head
//-         style 
//-             include ../static/style.css
//-             include ../static/stylehome.css
//-         title #{title}
//-     body 
//-         nav#navbar 
//-             ul
//-                 li #[a(href="/") Home]
//-                 li #[a(href='/') About]
//-                 li #[a(href='/contact') Contact]
//-                 li #[a(href='/') Services]
//-         div.homebody 
//-             h2 Home Page 
//-             p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, adipisci?
//-         #footer
//-             | copyright@zeenathkousar || 2023 || All Rights Reserved

extends base.pug

block scripts 
    script(src='../static/script.js')

block style 
    style 
        include ../static/style.css
        include ../static/stylehome.css
block content
    div.homebody 
        h2 Home Page 
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, adipisci?

